<!DOCTYPE html>

<html>

<head>

    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>

</head>

<body>

<h1>Hello World !</h1>



<p>

    Le Hello World est un grand classique en programmation.

    Il signifie énormément, car cela veut dire que vous avez

    réussi à exécuter le programme pour accomplir une tâche simple :

    afficher ce hello world !

</p>

</body>

</html>